<%- include('../partials/header') %>
<div id="wish-list">
<h2>Enter A Funko Pop</h2>
<% if (user) { %>
<form action="/lists/new" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Code:
    <input type="number" name="code">
  </label><br>
  <label>Release Year:
    <input type="number" name="releaseYear">
  </label><br>

  <button type="submit">Add To Wish List</button>
</form>


<p><%= errorMsg %></p>
</div>

<table id="list">
  <ul>
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Code</th>
        <th>Release<br>Year</th> 
      </tr>
    </thead>
  </ul>

<% if(lists.length){ %>
<tbody>
    <% lists.forEach(function(l) { %>
      <tr id="wishlist">
        <td class="review-user"><img alt="avatar" src="<%= l.userAvatar %>" referrerpolicy="no-referrer" ><%= l.userName %></td>
        <td><%= l.name %></td>
        <td><%= l.code %></td>
        <td><%= l.releaseYear %></td>
        <td><a href="/funkos/<%= l.name %>/comments">COMMENT</a></td>
        <td>
          <form action="/lists/<%= l._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button id="delete-btn" type="submit">X</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>    
    <% }); %> 
  <% } %>
<% } %>
   




<%- include('../partials/footer') %>