<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
     
      <th>Name</th>
      <th>Code</th>
      <th>Release<br>Year</th>
      <th>Value</th>
      
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <% funkos.forEach(function(f) { %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.code %></td>
        <td><%= f.releaseYear %></td>
        <td><%= f.value %></td>
        <td>
          <form action="/funkos/<%= f._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %> 
   
      
<%- include('../partials/footer') %>